* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  color: #101416;
}

header {
  width: 100%;
  height: 60px;
  background-color: #101416;
  font-size: 17px;
  font-family: verdana;
}


footer {
  width: 100%;
  height: 60px;
  background-color: #101416;
  text-align: center;
  position: fixed;
  bottom: 0;
}

footer p {
  font-family: verdana;
  font-size: 17px;
  color: #EBECDB;
  line-height: 60px;
}

p {
 font-size: 17px;
 font-family: verdana;
}

ul li {
  list-style-type: none;
}

nav ul{
  float: right;
  margin-top: 20px;
  margin-right: 60px;
}

nav ul li {
  list-style: none;
  float: left;
  margin-right: 20px;
}

nav ul li a {
  color: #EBECDB;
}

nav ul li form input {
  background-color: transparent;
  outline: none;
  border: none;
  color: #EBECDB;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font: inherit;
}

h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: helvetica;
  font-weight: bold;
  font-size: 50px;
}

form {
  margin: 0 auto;
  text-align: center;
}

p {
  line-height: 30px;
}

select {
  margin-bottom: 5px;
  height: 49px;
  padding: 10px;
  width: 190px;
  margin-bottom: 10px;
  background: url(../img/arrow-down.png)96% / 15% no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  width: 70%;
  margin: 0 auto;
  font-family: verdana;
  font-size: 17px;
  text-align: center;
}

th {
  background-color: #494242;
  color: #f0f0e2;
  font-family: helvetica;
  padding: 10px;
  border-collapse: collapse;
  border-spacing: 0;
}

#index_hero {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

#form_element {
  width: 100%;
  position: absolute;
  text-align: center;
  top: 30%;
}

#form_element h1 {
  font-family: helvetica;
  font-weight: bold;
  font-size: 50px;
  line-height: 150%;
  margin-bottom: 20px;
}

#form_element form {
  font-family: verdana;
  padding: 10px;
  font-size: 12px;
}

#form_element form input {
  margin-bottom: 5px;
  width: 167px;
  height: 25px;
  padding: 10px;
}

#form_element form button,
#form_element form a {
  background-color: #101416;
  border: none;
  color: #EBECDB;
  padding: 15px 32px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  outline: none;
  font-family: verdana!important;
  font-size: 15px;
}

#form_element {
  position: relative;
  float: left;
  clear: both;
}

#admin_table {
  margin-top: 5vh;
}

#admin_table td {
  height: 300px;
  background-color: #aaa19b;
  border: solid 2px black;
}
#admin_table td a{
  color: #141a1e;
}

#book-container,
#author-container,
#pub-container {
  display:none;
}

.login {
  background-image: url(../img/index-hero.jpg);
}

.reg {
  background-image: url(../img/index-hero2.jpg);
}

.center {
  text-align: center;
}

.head-2 {
  margin-top: 5vh;
}

.toggle {
  cursor: crosshair;
}
